<!-- page head start-->
<div class="page-head">
    <h2>
        {{title}} <span class="badge bg-info tooltips" [title]="tooltip" data-placement="right" style="vertical-align: top;">?</span>
        
    </h2>
    <breadcrumb [hleb]="hleb"></breadcrumb>
    
</div>
  <!-- page head end-->
  <!-- page head end-->
  
  <div class="wrapper">
    <!--state overview start-->
                <div class="row state-overview">
                    <plocica [meni]="meni"></plocica>
                </div>
                <!--state overview end-->
  </div>