<!-- sidebar left start-->
<div class="sidebar-left">
    <!--responsive view logo start-->
    <div class="logo dark-logo-bg visible-xs-* visible-sm-*">
        <a [routerLink]="['Naslovna']">
            <!--<img src="app/assets/img/logo-icon.png" alt="">-->
            <!--<i class="fa fa-maxcdn"></i>-->
            <span class="brand-name"> Pošte Srpske</span>
        </a>
    </div>
    <!--responsive view logo end-->

    <div class="sidebar-left-info">
        <!-- visible small devices start-->
        <!--<div class=" search-field">  </div>-->

        <meni-view [meni]="meni"></meni-view>
        <!--sidebar nav end-->

    </div>
</div>
<!-- sidebar left end-->